<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    
    <div class="row">
        <div class="card small">
            <h2>{zip.placeName} </h2>
            <h2> <small>{zip.postalCode}</small> </h2>
            <p>
                <f:link.action action="show" arguments="{zip : zip}">
                    <i class="fas fa-eye fa-2x"></i>
                </f:link.action>
            </p>
            
            
            <p>({zip.latitude},{zip.longitude})</p>
            <p>{zip.accuracyTxt}</p>
        </div>
    </div>

</html>