<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    <div class="tx-ool-zip-main-nav menu-outer">
        <div class="display-table">
            <ul class="horizontal-list">
                <li> <f:link.page pageUid="1" class="button primary"> <i class="fas fa-home"></i></f:link.page> </li>
                
                <li> <f:link.action action="list" class="button primary">Liste des code postaux</f:link.action> </li>
                <li> <f:link.action action="compare" class="button primary">Mesure de rayons</f:link.action> </li>
            </ul>
        </div>
    </div>
    
</html>