<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ool-zip no-max-height" >
    <thead></thead>
    <tbody></tbody>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.country_code" />
		</td>
		<td>
		{zip.countryCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.postal_code" />
		</td>
		<td>
		{zip.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.place_name" />
		</td>
		<td>
		{zip.placeName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.admin_name1" />
		</td>
		<td>
		{zip.adminName1}
		</td>
	</tr>
        
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.admin_code1" />
		</td>
		<td>
		{zip.adminCode1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.admin_name2" />
		</td>
		<td>
		{zip.adminName2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.admin_code2" />
		</td>
		<td>
		{zip.adminCode2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.admin_name3" />
		</td>
		<td>
		{zip.adminName3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.admin_code3" />
		</td>
		<td>
		{zip.adminCode3}
		</td>
	</tr>
        
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.latitude" />
		</td>
		<td>
		{zip.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.longitude" />
		</td>
		<td>
		{zip.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oolzip_domain_model_zip.accuracy" />
		</td>
		<td>
		{zip.accuracy}
		</td>
	</tr>
</table>
</html>